
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');



$primary-color: #151c37;
$font-bold:'Gilroy-Bold', sans-serif;
$font-medium:'Gilroy-Medium', sans-serif;
$font-heavy:'Gilroy-Heavy', sans-serif;




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: $primary-color;
    flex-direction: column;
    height: auto;
    

    
}
header{
    display: flex;
    background-color: $primary-color;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    font-family: $font-medium;
    padding: 1.3%;
    text-align: center;
    width: 100%;
}
.input-group{
width: 20%;
}
#search-addon{
  background-image: linear-gradient(to right, #19D3E8, #Af2cff);
  color: #fff;
  cursor: pointer;
  margin-left: 3%;

}
.form-control{
  background-color: #19d3e800;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-top: 1.3%;

    li{
      font-size: 20px;
      cursor: pointer;

      @media only screen and (max-width: 1306px) {
        font-size: 15px;
      }
    }
}
a{
    color: #fff;
}
.logo{
    font-weight: bold;
    color: #19D3E8;
    padding-left: 3%;
    font-size: 20px;
}

.icons{
    width: 80px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width:1000px){
      width: 120px;
    }
      
    }


main{
    background-image: url(./Imagens/main-img.webp);
    width: 100%;  
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    color: #fff;

}


.slogan-and-button-principal-container{
    display: flex;
    width: 45%;
    font-family: $font-bold;
    height: auto;
    flex-direction: column;
    margin-left: 4.6%;
    margin-top: -8%;
    @media only screen and (max-width: 585px){
      margin-top: 16%;
    }
    h1{
      font-size: 5vw;
    }

}

.btn-container {
    display: flex;
    padding-top: 6%;
}

.btn {
    border: none;
    width: auto;
    font-size: 1.3vw;
    color: #fff;
    cursor: pointer;
    height: auto;
    padding: 2.5% 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    font-family: $font-bold;
    background-image: linear-gradient(to right, #19D3E8, #Af2cff, #19D3E8, #Af2cff);
    box-shadow: 0 4px 15px 0 rgba(20, 20, 20, 0.75);
  
    @media only screen and (max-width: 1000px) {
      font-size: 1.6vw;
  }
    @media only screen and (max-width: 800px) {
      font-size: 2vw;
  }
    @media only screen and (max-width: 550px) {
      font-size: 3vw;
  }
    @media only screen and (max-width: 390px) {
      font-size: 4vw;
      padding: 2.9% 25px;
  }
}

  
form{
    background-color: #151c37;
}
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, )
  }

  .slogan-description{
    font-size: 1.3vw;
    font-family: $font-medium;
    padding-top: 3%;
  }

  .card-img-top{
    width: 100%;
    height: 100%;
    border-radius: 7%;
    
  }

  .card{
    border: none;
    background-color: transparent ;
    cursor: pointer;
    
  }

  .col-md-3{
    padding: 3.7%;
    background-color: $primary-color;
    
  }

  .carousel-control-prev{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.7%;
    width: 2.5%;
  }
  .carousel-control-next{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.7%;
    width: 2.5%;
  }

  .card-text{
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 5%;
    font-family: $font-bold;
    font-size: 1.5vw;
    line-height: 115% ;
    color: #fff;
  }
 
  .popular-games-container{
    color: $primary-color;
    background-color: #f0f5fe;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

  }
  
  h2{
    padding-top: 7%;
    font-size: 4vw;
    font-family: $font-bold;
  }

  .title-popular-games-container{
    width: 100%;
    display: flex;
    padding: 3%;
    justify-content: space-between;
  }

  .ver-tudo{
    padding-top: 9.5%;
    cursor: pointer;
    color: #898a8d;
    font-family: $font-medium;
  }

  .text-card-container{
    width: 100%;
    height: 30%;
    display: flex;
    font-size: 1.2vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color;
    color: #fff;
    font-family: $font-medium;

    .text-and-precing{
      display: flex;
      align-items: center;
      width: 100%;
      height: 55%;
      flex-direction: column;
    }

    .precing{
      color: #19D3E8;
      font-family: $font-bold;
      position: absolute;
      padding-top: 15%;
    }
  }
  .game-pre-venda{
    width: 50.5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;

    @media only screen and (min-width: 1900px) {
      width: 90%;
    }
    @media only screen and (max-width: 1030px) {
      width: 54%;
    }
    
    @media only screen and (max-width: 500px) {
      position: absolute;
      border-bottom-left-radius: 0%;
      border-top-right-radius: 5%;
      border-bottom-right-radius: 0%;
      width: 94%;

    }
}



  .pre-venda-container{
    color: $primary-color;
    background-color: #f0f5fe;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    .card-pre-venda{
      background-color: $primary-color;
      display: flex;
      border-radius: 5%;
      align-items: center;
      width: 48.5%;
      height: auto;
      @media only screen and (max-width: 500px){
        height: 175vw;
        flex-direction: column;
      }
      @media only screen and (max-width:375px){
        height: 177vw;
      }

    }
    
    .cards-pre-venda-container{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3%;

      

    }
    @media only screen and (max-width: 500px) {
      .cards-pre-venda-container{
      flex-direction: column;
      }
      .card-pre-venda{
        width: 100%;
        margin: 1.7%;
    }
    
  }


  .description-game-pre-venda{
    font-size: 1vw;
    margin: 7%;  
    color: #aaaaaa;
    text-align: justify;
    @media only screen and (max-width: 500px) {
      font-size: 3.2vw;
      margin-top: -0.2%;
    }
  }

    .title-pre-venda{
      padding-top: 4%;
    }
    .text-card-pre-venda-container{
      color: #fff;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      font-size: 1.6vw; 
      @media only screen and (max-width: 500px) {
          font-size: 7vw;
          margin-top: 109%;
          height: 30%;
        }
         .precing{
          color: #19D3E8;
          font-family: $font-bold;
        }
     
    }

    .btn{
      font-size: 0.6vw;
      width: auto;
      padding: 3% 30px;
      cursor: pointer;
      box-shadow: none;
      z-index: 997;
      display: flex;
      align-items: center;
      margin-bottom: 4%;
      justify-content: center;
  
      @media only screen and (max-width: 8300px) {
        font-size: 1.2vw;
        
      }
      @media only screen and (max-width: 500px) {
        font-size: 3.5vw;
        padding: 9px 30px;
      }
   
  
    }
  }

.desconto{
  background-color: #19D3E8;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  font-size: 1.3vw;
  justify-content: center;
  top: 0;  
  font-family: $font-bold;
  color: #fff;
  
  @media only screen and (max-width: 885px) {
    font-size: 2vw;
   }
 
  @media only screen and (max-width: 500px) {
   font-size: 3.7vw;
  }

}

.noticias-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding: 2.5%;
  flex-wrap: wrap;
  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.news{
  align-items: end;
  justify-content: start;
  width: 48%;
  display: flex;
  border-radius: 7%;
  background-size: 120%;
  background-repeat: no-repeat;
  color: #fff;
  background-image: url(./Imagens/news-1.png);
  font-size: 2vw;
  font-family: $font-bold;


  @media only screen and (max-width: 500px) {
    font-size: 4vw;
    width: 100%;
}

  .title-and-button-news-container{
    width: 70%;
    padding: 5%;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    
  }

.btn{
  width: 47%;
  margin-top: 5%;
  font-size: 1.4vw;
  text-align: center;
  font-family: $font-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 500px) {
    font-size: 3.2vw;
}
}
}

#news2{
  background-image: url(./Imagens/news-2.png);
  @media only screen and (max-width: 500px) {
    margin-top: 2%;
}
}

#news3{
  background-image: url(./Imagens/news-3.png);
  margin-top: 2%;}

#news4{
  background-image: url(./Imagens/news-4.png);
  margin-top: 2%;}



.subscribe-container{
  width: 100%;
  height: 35vw;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  background-image: url(./Imagens/fundo-subscribe.jpg);
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat ;
  @media only screen and (max-width: 500px) {
    background-image: url(./Imagens/fundo\ subscribe\ site\ gamer\ mobile.jpg);
    height: 165vw;
    margin-top: 12%;
    align-items: center;
    justify-content: end;
  }

  .subscribe{
    width: 50%;
    display: flex;
    text-align: start;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: $font-bold;
    font-size: 3.5vw;
    @media only screen and (max-width: 500px) {
      width: 100%;
      font-size: 10vw;
      .title-subscribe{
        position: absolute;
        margin-top: -4%;
      }
    }
  

    .description-subscribe{
      font-size: 1.3vw;
      width: 82%;
      font-family: $font-medium;
      margin-left: -5%;
      text-align: justify;
      @media only screen and (max-width: 500px) {
        font-size: 3.1vw;
        width: 79%;
        margin-top: 12%;
        margin-left: 0%;
      }
    }
  }
}

.send-container{
  width: 53%;
  .btn{
    width: auto;
    margin-top: 4%;
    font-size: 1vw;
    text-align: center;
    font-family: $font-bold;
    display: flex;
    align-items: center;
    padding: 1.7% 5.5%;
    margin-left: 1.5%;
    justify-content: center;
  
    @media only screen and (max-width: 500px) {
      width: 30%;
      font-size: 2.7vw;
    }
  }
  @media only screen and (max-width: 500px) {
    width: 80%;

  }
  }


form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #ffffff00;
  @media only screen and (max-width: 500px) {
    margin-bottom: 5.5%;
  }
}


input[type="email"] {
  font-size: 1vw;
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 60%;
  @media only screen and (max-width: 500px) {
    width: 80%;
    font-size: 2.3vw;

  }
}




footer{
  background-color: $primary-color;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.6vw;
  text-align: center;
  padding: 2%;
  justify-content: space-around;
  @media only screen and (max-width: 500px) {
    flex-wrap: wrap;
    align-items: start;
    flex-direction: column;
    padding: 5%;
  }
 
  .logo-footer-container{
    @media only screen and (max-width: 500px) {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 89%;
      margin-top : 0%;
      position: absolute;
      .logo{
        font-size: 6vw;
      }
  }
  }

}

  .option{
    cursor: pointer;
    font-size: 1vw;
    width: 100%;
    text-align: start;
    @media only screen and (max-width: 768px) {
      font-size: 1.4vw;
    }
    @media only screen and (max-width: 600px) {
      font-size: 1.4vw;
    }
    @media only screen and (max-width: 500px) {
      font-size: 3.6vw;
    }
  }
  .social-medias{
    display: flex;
    width: 8%;
    justify-content: space-around;
    @media only screen and (max-width: 700px) {
      flex-direction: column;
      height: 60px;
    }
    @media only screen and (max-width: 500px) {
      width: 30%;
      flex-direction: row;
      position: absolute;
      margin-top: 85px;
      margin-left: 59.2%;
      font-size: 5.8vw;}

    #icon{
      cursor: pointer;
    }
  }
 


.hover-card-game{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #151c379c;
  height: 70%;
  flex-direction: column;
  display: none;


  .btn{
    font-size: 1.2vw;
    width: auto;
    padding: 5%;
    cursor: pointer;
    box-shadow: none;
    z-index: 997;
    display: flex;
    align-items: center;
    justify-content: center;


    @media only screen and (max-width: 885px) {
      font-size: 1.4vw;
      
    }
    @media only screen and (max-width: 700px) {
      font-size: 1.8vw;
      
    }
    @media only screen and (max-width: 500px) {
      font-size: 4vw;
      
    }
 

  }

  .fa-solid{
  margin-top: 5%;
  z-index: 999;
  cursor: pointer;
}

}


.hover-card-game-desconto{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #151c379c;
  height: 60%;
  flex-direction: column;
  display: none;

  .btn{
    font-size: 1.2vw;
    width: auto;
    padding: 5%;
    cursor: pointer;
    box-shadow: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;


    @media only screen and (max-width: 885px) {
      font-size: 1.4vw;
      
    }
    @media only screen and (max-width: 700px) {
      font-size: 1.8vw;
      
    }
    @media only screen and (max-width: 500px) {
      font-size: 4vw;
      
    }
  }
}


#fa-solid{
  margin-top: 5%;
  z-index: 999;
  cursor: pointer;
}


// Estilização-menu-mobilie
.burguer {
  display: none;
  z-index: 999;
  cursor: pointer;
  @media only screen and (max-width: 1000px) {
    display: block;
  }
}

.menu {
  background-color: #19D3E8;
  width: 40%;
  color: #fff;
  top: 0;
  right: -100%;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  height: 100vh;
  z-index: 998;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  @media only screen and (max-width: 680px) {
    width: 50%;
  }
  @media only screen and (max-width: 500px) {
    width: 65%;
  }
  @media only screen and (max-width: 380px) {
    width: 75%;
  }
  ul {
    display: flex;
    font-family: $font-bold;
    height: 235px;
    width: 80%;
    flex-direction: column;
    margin-top: 30%;
    padding-left: 10%;
    text-align: start;

    li{
      font-size: 3.4vw;
      @media only screen and (max-width: 500px) {
        font-size: 4.8vw;
      }
      @media only screen and (max-width: 390px) {
        font-size: 5.4vw;
      }
    }
  }

  &.active {
    transform: translateX(0%);
    right: 0;
  }

  .login-container{
    background-color: #535353;
    width: 100%;
    font-family: $font-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5%;
    cursor: pointer;

    .login{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: auto;
      font-size: 2.4vw;
      @media only screen and (max-width: 680px) {
        font-size: 5vw;
      }
    .login-text{
      padding-left: 10%;
    }
    }


  }

}


.menu.active {
  right: 0;
}

.burguer div {
  background-color: #fff;
  width: 19px;
  height: 3px;
  margin: 4px;
  display: flex;
  z-index: 999;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s ease-out;
  display: none;

  @media only screen and (max-width: 1000px) {
    display: block;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  transition: transform 0.5s ease-in;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
  transition: transform 0.5s ease-in;
}

.toggle .line2 {
  opacity:0;
}

body.menu-open {
  overflow: hidden;
}


.img-main-mobile{
display: none;
@media only screen and (max-width: 555px) {
width: 100%;
height: 80%;
display: block;
background-size: cover ;
background-image: url(./Imagens/fundo\ mobile\ img.png);
}
@media only screen and (max-width: 555px) {
  height: 38%;

}

@media only screen and (max-width: 360px) {
  height: 46%;

}
@media only screen and (max-height: 950px) {
  height: 46%;

}
}