@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #151c37;
  flex-direction: column;
  height: auto;
}

header {
  display: flex;
  background-color: #151c37;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  font-family: "Gilroy-Medium", sans-serif;
  padding: 1.3%;
  text-align: center;
  width: 100%;
}

.input-group {
  width: 20%;
}

#search-addon {
  background-image: linear-gradient(to right, #19D3E8, #Af2cff);
  color: #fff;
  cursor: pointer;
  margin-left: 3%;
}

.form-control {
  background-color: rgba(25, 211, 232, 0);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-top: 1.3%;
}
ul li {
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 1306px) {
  ul li {
    font-size: 15px;
  }
}

a {
  color: #fff;
}

.logo {
  font-weight: bold;
  color: #19D3E8;
  padding-left: 3%;
  font-size: 20px;
}

.icons {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
  .icons {
    width: 120px;
  }
}

main {
  background-image: url(./Imagens/main-img.webp);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  color: #fff;
}
@media only screen and (max-width: 650px) {
  main {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 13%;
    padding-left: 7%;
  }
}
@media only screen and (max-width: 550px) {
  main {
    justify-content: center;
    align-items: center;
    padding-left: 0%;
  }
}

.slogan-and-button-principal-container {
  display: flex;
  width: 47%;
  font-family: "Gilroy-Bold", sans-serif;
  height: auto;
  flex-direction: column;
  margin-left: 4.6%;
  margin-top: -8%;
}
@media only screen and (max-width: 760px) {
  .slogan-and-button-principal-container {
    width: 80%;
  }
}
.slogan-and-button-principal-container h1 {
  font-size: 5vw;
}
@media only screen and (max-width: 425px) {
  .slogan-and-button-principal-container {
    margin-top: -18%;
  }
}
@media only screen and (max-width: 375px) {
  .slogan-and-button-principal-container {
    margin-top: -35%;
  }
}

.btn-container {
  display: flex;
  padding-top: 6%;
}

.btn {
  border: none;
  width: auto;
  font-size: 1.3vw;
  color: #fff;
  cursor: pointer;
  height: auto;
  padding: 2.5% 30px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  font-family: "Gilroy-Bold", sans-serif;
  background-image: linear-gradient(to right, #19D3E8, #Af2cff, #19D3E8, #Af2cff);
  box-shadow: 0 4px 15px 0 rgba(20, 20, 20, 0.75);
}
@media only screen and (max-width: 1000px) {
  .btn {
    font-size: 1.6vw;
  }
}
@media only screen and (max-width: 800px) {
  .btn {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 550px) {
  .btn {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 390px) {
  .btn {
    font-size: 4vw;
    padding: 2.9% 25px;
  }
}

form {
  background-color: #151c37;
}

.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgb(0, 0, 0);
}

.slogan-description {
  font-size: 1.3vw;
  font-family: "Gilroy-Medium", sans-serif;
  padding-top: 3%;
}

.card-img-top {
  width: 100%;
  height: 100%;
  border-radius: 7%;
}

.card {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.col-md-3 {
  padding: 3.7%;
  width: 25%;
  background-color: #151c37;
}
@media only screen and (max-width: 767px) {
  .col-md-3 {
    padding: 4.7%;
  }
}

.carousel-control-prev {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.7%;
  width: 2.5%;
}

.carousel-control-next {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.7%;
  width: 2.5%;
}

.card-text {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  padding-left: 5%;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.5vw;
  line-height: 115%;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .card-text {
    font-size: 4vw;
  }
}

.popular-games-container {
  color: #151c37;
  background-color: #f0f5fe;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

h2 {
  padding-top: 7%;
  font-size: 4vw;
  font-family: "Gilroy-Bold", sans-serif;
}

.title-popular-games-container {
  width: 100%;
  display: flex;
  padding: 3%;
  justify-content: space-between;
}

.ver-tudo {
  padding-top: 9.5%;
  cursor: pointer;
  color: #898a8d;
  font-family: "Gilroy-Medium", sans-serif;
}

.text-card-container {
  width: 100%;
  height: 30%;
  display: flex;
  font-size: 1.2vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #151c37;
  color: #fff;
  font-family: "Gilroy-Medium", sans-serif;
}
.text-card-container .text-and-precing {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55%;
  flex-direction: column;
}
.text-card-container .precing {
  color: #19D3E8;
  font-family: "Gilroy-Bold", sans-serif;
  position: absolute;
  padding-top: 15%;
}

.game-pre-venda {
  width: 50.5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
@media only screen and (min-width: 1900px) {
  .game-pre-venda {
    width: 90%;
  }
}
@media only screen and (max-width: 1030px) {
  .game-pre-venda {
    width: 54%;
  }
}
@media only screen and (max-width: 500px) {
  .game-pre-venda {
    position: absolute;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 0%;
    width: 94%;
  }
}

.pre-venda-container {
  color: #151c37;
  background-color: #f0f5fe;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.pre-venda-container .card-pre-venda {
  background-color: #151c37;
  display: flex;
  border-radius: 5%;
  align-items: center;
  width: 48.5%;
  height: auto;
}
@media only screen and (max-width: 500px) {
  .pre-venda-container .card-pre-venda {
    height: 175vw;
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  .pre-venda-container .card-pre-venda {
    height: 177vw;
  }
}
.pre-venda-container .cards-pre-venda-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}
@media only screen and (max-width: 500px) {
  .pre-venda-container .cards-pre-venda-container {
    flex-direction: column;
  }
  .pre-venda-container .card-pre-venda {
    width: 100%;
    margin: 1.7%;
  }
}
.pre-venda-container .description-game-pre-venda {
  font-size: 1vw;
  margin: 7%;
  color: #aaaaaa;
  text-align: justify;
}
@media only screen and (max-width: 500px) {
  .pre-venda-container .description-game-pre-venda {
    font-size: 3.2vw;
    margin-top: -0.2%;
  }
}
.pre-venda-container .title-pre-venda {
  padding-top: 4%;
}
.pre-venda-container .text-card-pre-venda-container {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 1.6vw;
}
@media only screen and (max-width: 500px) {
  .pre-venda-container .text-card-pre-venda-container {
    font-size: 7vw;
    margin-top: 109%;
    height: 30%;
  }
}
.pre-venda-container .text-card-pre-venda-container .precing {
  color: #19D3E8;
  font-family: "Gilroy-Bold", sans-serif;
}
.pre-venda-container .btn {
  font-size: 0.6vw;
  width: auto;
  padding: 3% 30px;
  cursor: pointer;
  box-shadow: none;
  z-index: 997;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
  justify-content: center;
}
@media only screen and (max-width: 8300px) {
  .pre-venda-container .btn {
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 500px) {
  .pre-venda-container .btn {
    font-size: 3.5vw;
    padding: 9px 30px;
  }
}

.desconto {
  background-color: #19D3E8;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  font-size: 1.3vw;
  justify-content: center;
  top: 0;
  font-family: "Gilroy-Bold", sans-serif;
  color: #fff;
}
@media only screen and (max-width: 885px) {
  .desconto {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 500px) {
  .desconto {
    font-size: 3.7vw;
  }
}

.noticias-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding: 2.5%;
  flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
  .noticias-container {
    flex-direction: column;
  }
}

.news {
  align-items: end;
  justify-content: start;
  width: 48%;
  display: flex;
  border-radius: 7%;
  background-size: 120%;
  background-repeat: no-repeat;
  color: #fff;
  background-image: url(./Imagens/news-1.png);
  font-size: 2vw;
  font-family: "Gilroy-Bold", sans-serif;
}
@media only screen and (max-width: 500px) {
  .news {
    font-size: 4vw;
    width: 100%;
  }
}
.news .title-and-button-news-container {
  width: 70%;
  padding: 5%;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
}
.news .btn {
  width: 47%;
  margin-top: 5%;
  font-size: 1.4vw;
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .news .btn {
    font-size: 3.2vw;
  }
}

#news2 {
  background-image: url(./Imagens/news-2.png);
}
@media only screen and (max-width: 500px) {
  #news2 {
    margin-top: 2%;
  }
}

#news3 {
  background-image: url(./Imagens/news-3.png);
  margin-top: 2%;
}

#news4 {
  background-image: url(./Imagens/news-4.png);
  margin-top: 2%;
}

.subscribe-container {
  width: 100%;
  height: 35vw;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  background-image: url(./Imagens/fundo-subscribe.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .subscribe-container {
    background-image: url(./Imagens/fundo\ subscribe\ site\ gamer\ mobile.jpg);
    height: 165vw;
    margin-top: 12%;
    align-items: center;
    justify-content: end;
  }
}
.subscribe-container .subscribe {
  width: 50%;
  display: flex;
  text-align: start;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 3.5vw;
}
@media only screen and (max-width: 500px) {
  .subscribe-container .subscribe {
    width: 100%;
    font-size: 10vw;
  }
  .subscribe-container .subscribe .title-subscribe {
    position: absolute;
    margin-top: -4%;
  }
}
.subscribe-container .subscribe .description-subscribe {
  font-size: 1.3vw;
  width: 82%;
  font-family: "Gilroy-Medium", sans-serif;
  margin-left: -5%;
  text-align: justify;
}
@media only screen and (max-width: 500px) {
  .subscribe-container .subscribe .description-subscribe {
    font-size: 3.1vw;
    width: 79%;
    margin-top: 12%;
    margin-left: 0%;
  }
}

.send-container {
  width: 53%;
}
.send-container .btn {
  width: auto;
  margin-top: 4%;
  font-size: 1vw;
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  display: flex;
  align-items: center;
  padding: 1.7% 5.5%;
  margin-left: 1.5%;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .send-container .btn {
    width: 30%;
    font-size: 2.7vw;
  }
}
@media only screen and (max-width: 500px) {
  .send-container {
    width: 80%;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
}
@media only screen and (max-width: 500px) {
  form {
    margin-bottom: 5.5%;
  }
}

input[type=email] {
  font-size: 1vw;
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 60%;
}
@media only screen and (max-width: 500px) {
  input[type=email] {
    width: 80%;
    font-size: 2.3vw;
  }
}

footer {
  background-color: #151c37;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.6vw;
  text-align: center;
  padding: 2%;
  justify-content: space-around;
}
@media only screen and (max-width: 500px) {
  footer {
    flex-wrap: wrap;
    align-items: start;
    flex-direction: column;
    padding: 5%;
  }
}
@media only screen and (max-width: 500px) {
  footer .logo-footer-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 89%;
    margin-top: 0%;
    position: absolute;
  }
  footer .logo-footer-container .logo {
    font-size: 6vw;
  }
}

.option {
  cursor: pointer;
  font-size: 1vw;
  width: 100%;
  text-align: start;
}
@media only screen and (max-width: 768px) {
  .option {
    font-size: 1.4vw;
  }
}
@media only screen and (max-width: 600px) {
  .option {
    font-size: 1.4vw;
  }
}
@media only screen and (max-width: 500px) {
  .option {
    font-size: 3.6vw;
  }
}

.social-medias {
  display: flex;
  width: 8%;
  justify-content: space-around;
}
@media only screen and (max-width: 700px) {
  .social-medias {
    flex-direction: column;
    height: 60px;
  }
}
@media only screen and (max-width: 500px) {
  .social-medias {
    width: 30%;
    flex-direction: row;
    position: absolute;
    margin-top: 85px;
    margin-left: 59.2%;
    font-size: 5.8vw;
  }
}
.social-medias #icon {
  cursor: pointer;
}

.hover-card-game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(21, 28, 55, 0.6117647059);
  height: 70%;
  flex-direction: column;
  display: none;
}
.hover-card-game .btn {
  font-size: 1.2vw;
  width: auto;
  padding: 5%;
  cursor: pointer;
  box-shadow: none;
  z-index: 997;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 885px) {
  .hover-card-game .btn {
    font-size: 1.4vw;
  }
}
@media only screen and (max-width: 700px) {
  .hover-card-game .btn {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 500px) {
  .hover-card-game .btn {
    font-size: 4vw;
  }
}
.hover-card-game .fa-solid {
  margin-top: 5%;
  z-index: 999;
  cursor: pointer;
}

.hover-card-game-desconto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(21, 28, 55, 0.6117647059);
  height: 60%;
  flex-direction: column;
  display: none;
}
.hover-card-game-desconto .btn {
  font-size: 1.2vw;
  width: auto;
  padding: 5%;
  cursor: pointer;
  box-shadow: none;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 885px) {
  .hover-card-game-desconto .btn {
    font-size: 1.4vw;
  }
}
@media only screen and (max-width: 700px) {
  .hover-card-game-desconto .btn {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 500px) {
  .hover-card-game-desconto .btn {
    font-size: 4vw;
  }
}

#fa-solid {
  margin-top: 5%;
  z-index: 999;
  cursor: pointer;
}

.burguer {
  display: none;
  z-index: 999;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .burguer {
    display: block;
  }
}

.menu {
  background-color: #19D3E8;
  width: 40%;
  color: #fff;
  top: 0;
  right: -100%;
  height: 100vh;
  z-index: 998;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
}
@media only screen and (max-width: 680px) {
  .menu {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .menu {
    width: 65%;
  }
}
@media only screen and (max-width: 380px) {
  .menu {
    width: 75%;
  }
}
.menu ul {
  display: flex;
  font-family: "Gilroy-Bold", sans-serif;
  height: 235px;
  width: 80%;
  flex-direction: column;
  margin-top: 30%;
  padding-left: 10%;
  text-align: start;
}
.menu ul li {
  font-size: 3.4vw;
}
@media only screen and (max-width: 500px) {
  .menu ul li {
    font-size: 4.8vw;
  }
}
@media only screen and (max-width: 390px) {
  .menu ul li {
    font-size: 5.4vw;
  }
}
.menu.active {
  transform: translateX(0%);
  right: 0;
}

.menu.active {
  right: 0;
}

.burguer div {
  background-color: #fff;
  width: 19px;
  height: 3px;
  margin: 4px;
  display: flex;
  z-index: 999;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s ease-out;
  display: none;
}
@media only screen and (max-width: 1000px) {
  .burguer div {
    display: block;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  transition: transform 0.5s ease-in;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
  transition: transform 0.5s ease-in;
}

.toggle .line2 {
  opacity: 0;
}

body.menu-open {
  overflow: hidden;
}

.slider {
  display: none;
}
@media only screen and (max-width: 650px) {
  .slider {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
  }
}
@media only screen and (max-width: 550px) {
  .slider {
    width: 50%;
    margin-top: 6.5%;
  }
}
@media only screen and (max-width: 440px) {
  .slider {
    width: 80%;
    margin-top: 6.5%;
    align-items: start;
    justify-content: start;
  }
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}/*# sourceMappingURL=style.css.map */